#RewriteEngine
    RewriteEngine on

#RewriteRules
    RewriteRule ^$ index.php [L]

    #Plugins
        RewriteRule ^plugins$ contents/contents.php?list=true&content=plugin [L]
        RewriteRule ^plugin/(\w+)$ contents/contents.php?id=$1&content=plugin [L]

        RewriteRule ^plugin/download/(\w+).content downloads.php?obj=plugin&id=$1&type=content [L]
        RewriteRule ^plugin/download/(\w+).data$ downloads.php?obj=plugin&id=$1&type=data [L]
        RewriteRule ^plugin/download/(\w+)$ downloads.php?obj=plugin&id=$1&type=content [L]

    #Themes
        RewriteRule ^themes$ contents/contents.php?list=true&content=theme [L]
        RewriteRule ^theme/(\w+)$ contents/contents.php?id=$1&content=theme [L]

        RewriteRule ^theme/download/(\w+).content$ downloads.php?obj=theme&id=$1&type=content [L]
        RewriteRule ^theme/download/(\w+).data$ downloads.php?obj=theme&id=$1&type=data [L]
        RewriteRule ^theme/download/(\w+)$ downloads.php?obj=theme&id=$1&type=content [L]

    #User
        RewriteRule ^users$ _users/users.php?list [L]
        RewriteRule ^user/(\d+)$ _users/users.php?id=$1 [L]

#ErrorDocument
    ErrorDocument 400 /api/error/error.php?e=400
    ErrorDocument 401 /api/error/error.php?e=401
    ErrorDocument 403 /api/error/error.php?e=403
    ErrorDocument 404 /api/error/error.php?e=404
    ErrorDocument 500 /api/error/error.php?e=500